<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="uk.ac.chen.middleware.mapper.PersonMapper">
    <resultMap type="uk.ac.chen.middleware.entity.PersonEntity" id="PersonMap">
        <result property="parentId" column="PersonID" jdbcType="INTEGER" />
        <result property="uniqueId" column="UniqueID" jdbcType="INTEGER" />
        <result property="sex" column="Sex" jdbcType="INTEGER" />
        <result property="editDate" column="EditDate" jdbcType="FLOAT" />
        <result property="parentId" column="ParentID" jdbcType="INTEGER" />
        <result property="spouseId" column="SpouseID" jdbcType="INTEGER" />
        <result property="color" column="Color" jdbcType="INTEGER" />
        <result property="relate1" column="Relate1" jdbcType="INTEGER" />
        <result property="relate2" column="Relate2" jdbcType="INTEGER" />
        <result property="flags" column="Flags" jdbcType="INTEGER" />
        <result property="living" column="Living" jdbcType="INTEGER" />
        <result property="isPrivate" column="IsPrivate" jdbcType="INTEGER" />
        <result property="proof" column="Proof" jdbcType="INTEGER" />
        <result property="bookmark" column="Bookmark" jdbcType="INTEGER" />
        <result property="note" column="Note" jdbcType="VARCHAR" />
    </resultMap>

    <select id="addPerson" resultMap="PersonMap">
        INSERT INTO PersonTable(Sex)
        VALUES(#{Sex});
    </select>
</mapper>